{% extends "layoutBack.twig.html" %}

{% block botonera %}

		{% if (usuario.nombreRol=="administrador") %}
				<li><a href="./backend.php">Inicio</a></li>
				<li><a class="has-sub">Publicaciones</a>
					<ul>
						<li><a href="./backend.php?accion=publicar">Publicar</a></li>
						<li><a href="./backend.php?accion=misPublicaciones">Mis Publicaciones</a></li>
					</ul>
				</li>
				<li><a class="has-sub">Mis Solicitudes</a>
					<ul>
						<li><a href="./backend.php?accion=solicitudesPendientes">Pendientes</a></li>
						<li><a href="./backend.php?accion=solicitudesRealizadas">Realizadas</a></li>

					</ul>
				</li>
			<li><a class="has-sub">Mis Reservas</a>
					<ul>
					<li><a href="./backend.php?accion=reservasAceptadas">Aceptadas</a></li>
					<li><a href="./backend.php?accion=reservasOtorgadas">Otorgadas</a></li>
					</ul>
				</li>
				<li><a class="has-sub">Configuración</a>
					<ul>
					<li><a href="./backend.php?accion=tipos">Tipos de Hospedaje</a></li>
					</ul>
				</li>
				<li><a class="has-sub">Mi Cuenta ({{usuario.usuario}})</a>
					<ul>
						<li><a href="./backend.php?accion=modificarUsuario">Modificar Perfil</a></li>
						<li><a href="./backend.php?accion=modificarPass">Modificar Contraseña</a></li>
						<li><a href="./backend.php?accion=reservasConcretadas">Reservas Concretadas</a></li>
						<li><a href="./backend.php?accion=misPreguntas">Preguntas Realizadas</a></li>
						<li><a href="./backend.php?accion=preguntasAresponder">Preguntas P/responder</a></li>
						<li><a href="./backend.php?accion=ganancia">Listado Ganancias</a></li>
						<li><a href="../app/logout.php">Logout</a></li>
					</ul>
				</li>

		{% elseif (usuario.nombreRol=="visitante") %}
				<li><a href="./backend.php">Inicio</a></li>

				<li><a class="has-sub">Publicaciones</a>
					<ul>
						<li><a href="./backend.php?accion=publicar">Publicar</a></li>
						<li><a href="./backend.php?accion=misPublicaciones">Mis Publicaciones</a></li>
					</ul>
				</li>
				<li><a class="has-sub">Mis Solicitudes</a>
					<ul>
						<li><a href="./backend.php?accion=solicitudesPendientes">Pendientes</a></li>
						<li><a href="./backend.php?accion=solicitudesRealizadas">Realizadas</a></li>

					</ul>
				</li>
			<li><a class="has-sub">Mis Reservas</a>
					<ul>
					<li><a href="./backend.php?accion=reservasAceptadas">Aceptadas</a></li>
					<li><a href="./backend.php?accion=reservasOtorgadas">Otorgadas</a></li>
					</ul>
				</li>
				<li><a class="has-sub">Mi Cuenta ({{usuario.usuario}})</a>
					<ul>
					<li><a href="./backend.php?accion=usuarioPremium">Usuario Premium</a></li>
					<li><a href="./backend.php?accion=modificarUsuario">Modificar Perfil</a></li>
					<li><a href="./backend.php?accion=modificarPass">Modificar Contraseña</a></li>
					<li><a href="./backend.php?accion=misPreguntas">Preguntas Realizadas</a></li>
					<li><a href="./backend.php?accion=preguntasAresponder">Preguntas P/responder</a></li>
					<li><a href="../app/logout.php">Logout</a></li>
					</ul>
				</li>

		{% else %}
			<li><a href="./backend.php">Inicio</a> {{ usuario.nombreRol }}{{ usuario.usuario}}</li>
		{% endif %}
{% endblock %}
