{% extends "layoutBackUser.twig.html" %}

{% block contenido %}
<style>
	td {width:150px;}
</style>

<br>
<h2>Mis Reservas Otorgadas</h2>
<br>
{% if params | length>0 %}
		<table class="table table-striped" >
		<tbody>
			<tr class="encabezado">
				<td>Nro.Reserva</td>
				<td>Fecha Inicio</td>
				<td>Fecha Fin</td>
				<td>Ocupantes</td>
				
				
				
			</tr>
	{% for res in params %}
			<tr> 
				<td>{{res.0.id_reserva}}</td>
				<td>{{res.0.f_inicio|date("d-m-Y")}}</td>
				<td>{{res.0.f_fin|date("d-m-Y") }}</td>
				<td>{{res.0.ocupantes}}</td>
				
			</tr>
	{% endfor %}
		</tbody>
		</table>
		
	
		
{% else %}
						<h3>
							No hay solicitudes realizadas.
						</h3>

{% endif %}
	<a name="abajo"></a>
{% endblock %}