{% extends "layoutBackUser.twig.html" %}

{% block contenido %}
<style>
	td {width:150px;}
</style>

<br>
<h2>Mis Solicitudes</h2>
<br>
{% if params | length>0 %}
		<table class="table table-striped" >
		<tbody>
			<tr class="encabezado">
				<td style="width:15px">Nro.</td>
				<td>Ver publicación</td>
				<td>Fecha de Solicitud</td>
				<td>Desde</td>
				<td>Hasta</td>
				<td>Ocupantes</td>
				<td style="width:15px">Ver</td>
			</tr>
	{% for sol in params %}
			<tr> 
				<td style="width:15px">{{sol.id_solicitud}}</td>
				<td>
					<a href="./backend.php?accion=verPublicacion&amp;id={{sol.id_publicacion}}">{{sol.encabezado}}</a>
				</td>
				<td>{{sol.fec_solicitud|date("d-m-Y")}}</td>
				<td>{{sol.fec_inicio|date("d-m-Y")}}</td>
				<td>{{sol.fec_fin|date("d-m-Y") }}</td>
				<td>{{sol.ocupantes}}</td>
				<td style="width:15px">
					<a href="./backend.php?accion=solicitudesRealizadas&amp;id={{sol.id_solicitud}}#abajo"><img src='./img/inspect.png'/></a>
				</td>
			</tr>
	{% endfor %}
		</tbody>
		</table>
		
	{% if not(detalle == 0) %}
	<br>
	<hr>
	<br>
		<div style="border:1px solid black; padding:20px; background-color:#ddd;">
				<h3>
					Detalle de la solicitud #{{detalle.id_solicitud}}:
				</h3>
				<p>Fecha Solicitud: {{detalle.fec_solicitud|date("d-m-Y")}}</p><p>
				<p>Desde: {{detalle.fec_inicio|date("d-m-Y")}}</p>
				<p>Hasta: {{detalle.fec_fin|date("d-m-Y")}}</p>
				<p>Ocupantes: {{detalle.ocupantes}}</p>
				<p>Comentario: {{detalle.texto}}</p>

				<div align="right">
						
					<form class="formulario" method="post" name="formulario" action="./backend.php?accion=borrarSolicitud&amp;id={{detalle.id_solicitud}}" onsubmit="return confirm('¿Desea eliminar la solicitud?');">
<!--					<form class="formulario" method="post" name="formulario" action="./backend.php?accion=borrarSolicitud&amp;id={{detalle.id_solicitud}}">
-->
						<button type="submit" name="botones">Eliminar</button>
					</form>
				</div>
		</div>
	{% endif %}
		
{% else %}
						<h3>
							No hay solicitudes realizadas.
						</h3>

{% endif %}
	<a name="abajo"></a>
{% endblock %}