{% extends "layoutBackUser.twig.html" %}

{% block contenido %}
<style>
	td {width:150px;}
</style>


<br>
<h2>Mis Solicitudes Pendientes de Revisión</h2>
<br>
{% if params | length>0 %}
		<table class="table table-striped" >
		<tbody>
			<tr class="encabezado">
				<td style="width:15px">Nro.</td>
				<td>Ver publicación</td>
				<td>Fecha de Solicitud</td>
				<td>Desde</td>
				<td>Hasta</td>
				<td>Ocupantes</td>
				<td style="width:15px">Ver</td>
			</tr>
	{% for sol in params %}
			<tr> 
				<td style="width:15px">{{sol.id_solicitud}}</td>
				<td>
					<a href="./backend.php?accion=verPublicacion&amp;id={{sol.id_publicacion}}">{{sol.encabezado}}</a>
				</td>
				<td>{{sol.fec_solicitud|date("m-d-Y")}}</td>
				<td>{{sol.fec_inicio|date("m-d-Y")}}</td>
				<td>{{sol.fec_fin|date("m-d-Y") }}</td>
				<td>{{sol.ocupantes}}</td>
				<td style="width:15px">
					<a href="./backend.php?accion=solicitudesPendientes&amp;id={{sol.id_solicitud}}#abajo"><img src='./img/inspect.png'/></a>
				</td>
			</tr>
	{% endfor %}
		</tbody>
		</table>
		
	{% if not(detalle == 0) %}
	<br>
	<hr>
			<h3>
				Detalle de la solicitud #{{detalle.id_solicitud}}:
			</h3>
			<p>Fecha Solicitud: {{detalle.fec_solicitud|date("m-d-Y")}}</p><p>
			<p>Desde: {{detalle.fec_inicio|date("m-d-Y")}}</p>
			<p>Hasta: {{detalle.fec_fin|date("m-d-Y")}}</p>
			<p>Ocupantes: {{detalle.fec_ocupantes}}</p>
			<p>Comentario: {{detalle.texto}}</p>

	<div align="right">
			
			<h3>
				<a href='./backend.php?accion=aceptarSolicitud&amp;id={{detalle.id_solicitud}}'>
					<span style="background: #9f9; padding:5px; border: 2px solid black;">Aceptar Solicitud</span>
				</a>
				<a href='./backend.php?accion=rechazarSolicitud&amp;id={{detalle.id_solicitud}}'>
					<span style="background: #f99; padding:5px; border: 2px solid black;">Rechazar Solicitud</span>
				</a>
			</h3>
	</div>
	{% endif %}
		
{% else %}
						<h3>
							No hay solicitudes pendientes.
						</h3>

{% endif %}
	<a name="abajo"></a>
{% endblock %}


