{% extends "layoutBackUser.twig.html" %}

{% block contenido %}
<style>
	td {width:150px;}
</style>

<br>
<h2>Mis Reservas Aceptadas</h2>
<h3>A continuación se detellan las reservas donde hospedarme</h3>
<br>

{% if params | length>0 %}
		<table class="table table-striped" >
		<tbody>
			<tr class="encabezado">
				<td>Nro.Reserva</td>
				<td>Fecha Inicio</td>
				<td>Fecha Fin</td>
				<td>Ocupantes</td>
				<td>Publicación</td>
				<td>Couch</td>
				
				
				
			</tr>
	{% for res in params %}
			<tr> 
				<td>{{res.id_reserva}}</td>
				<td>{{res.f_inicio|date("d-m-Y")}}</td>
				<td>{{res.f_fin|date("d-m-Y") }}</td>
				<td>{{res.ocupantes}}</td>
				<td>
					<a href="./backend.php?accion=verPublicacion&amp;id={{res.id_publicacion}}">{{res.encabezado}}</a>
				</td>
				<td>{{res.nombre}}</td>
				
			</tr>
	{% endfor %}
		</tbody>
		</table>
		
	
		
{% else %}
						<h3>
							No hay solicitudes realizadas.
						</h3>

{% endif %}
	<a name="abajo"></a>
{% endblock %}