{% extends "layoutBackUser.twig.html" %}


{% block contenido %}
			<div>
			{% if params | length>0 %}
						<h2 align="center">Mis Publicaciones</h2>
            {% for publicacion in params %}
			<a href="./backend.php?accion=verPublicacion&amp;id={{publicacion.id_publicacion}}&amp;source=1">
        			<div>
        				<h3>{{publicacion.encabezado}}</h3>
        				<p>
        					{{publicacion.descripcion}}
        				</p>
        				<img alt="" src="data:image/png;base64,{{publicacion.foto}}" style="width: 100%;"/>
        			</div>
			</a>
					<hr>
        		{% endfor %}
			{% else %}
						<h3>
							No hay publicaciones para mostrar.
						</h3>

			{% endif %}

{% endblock %}