{% extends "layoutBackUser.twig.html" %}

{% block contenido %}


	<form class="formulario" method="post" name="formularioP" action="./backend.php?accion=publicar" enctype="multipart/form-data">
		<h3> Realizar publicacion </h3>
		<div >
			<label>Encabezado:</label>
			<input type="text" name="encabezado" value="{{ params['encabezado'] }}" required/>
		</div>
		<div >
			<label>Titulo de propiedad:</label>
			<input type="text" name="tituloP" value="{{ params['tituloP'] }}" required/>
		</div>
		<div >
			<label>Capacidad Hospedaje :</label>
			<input type="number" name="capacidad" min=1 max=20 value="{{ params['capacidad'] }}" required/>

		</div>
		<div >
			<label>Descripcion:</label>
			<textarea rows="4" cols="20" name="descripcion" required/></textarea>
		</div>
		<div >
			<label>Direccion:</label>
			<input type="text" name="direccion" value="{{ params['direccion'] }}" required/>
		</div>
		<div >
			<label>Tipo de Hospedaje:</label>
			<select name="tipoViv">
				{% for tipo in tipos %}
					<option value="{{ tipo.id_tipo }}">{{tipo.tipo}}</option>
				{% endfor %}
			</select>
		</div>
		<div >
			<label>Provincia-Ciudad:</label>
			<select name="provincia" id="provincias">
				{% for provincia in provincias %}
					<option value="{{ provincia.id }}">{{provincia.nombre}}</option>
				{% endfor %}
			</select>
			-
			<select name="ciudad" id="ciudades">
				
			</select>
		</div>
		<div >
			<label>Cargar Imagen:</label>
			<input type="file" name="imagen" required/>
		</div>

		<br>
		<button type="submit">Publicar</button>
		<button type="button" onclick="window.location.href='./backend.php?accion=inicio'">Cancelar</button>
	</form>
<br>
<script type="text/javascript">
	$(function(){
		$('#provincias').change(function(){
			$.ajax({
			  method: "POST",
			  url: "./backend.php?accion=departamentos",
			  data: { id: $(this).val() },
				dataType: "json"
			})
			  .done(function( data ) {
					$('#ciudades').children().remove();
					$.each(data, function(i, value) {
						 $('#ciudades').append($('<option>').text(value.nombre).attr('value', value.id));
				 });
			  });
		});
	});
</script>
{% endblock %}
