{% extends "layoutFront.twig.html" %}

{% block contenido %}
<br>
	<div>
	 </br>
	 CouchInn Web es un portal de internet que idearon dos viajeros recurrentes, amantes de los intercambios culturales.</br>
	 </br>
	 Somos un sitio web que busca conectar gente que quiere ofrecer un espacio en su hogar para alojar a visitantes con viajeros que busquen convivir con nativos del lugar compartiendo sus tradiciones y costumbres.</br>
	 </br>
	 Fácil, ágil, seguro y gratutio. Animate a vivir la experiencia.</br> 
	 </br>
	</div>

{% endblock %}
