{% extends "layoutBackUser.twig.html" %}

{% block contenido %}
<style>
	td {width:150px;}
</style>


<br>
		<img src='./img/warning.png' />
		<h2>
			¿Desea Confirmar el rechazo de la solicitud?
		</h2>
		<table class="table table-striped" >
		<tbody>
			<tr class="encabezado">
				<td style="width:15px">Nro.</td>
				<td>Ver publicación</td>
				<td>Fecha de Solicitud</td>
				<td>Desde</td>
				<td>Hasta</td>
				<td>Ocupantes</td>
			</tr>
			<tr> 
				<td style="width:15px">{{solicitud.id_solicitud}}</td>
				<td>
					<a href="./backend.php?accion=verPublicacion&amp;id={{sol.id_publicacion}}">{{solicitud.encabezado}}</a>
				</td>
				<td>{{solicitud.fec_solicitud|date("m-d-Y")}}</td>
				<td>{{solicitud.fec_inicio|date("m-d-Y")}}</td>
				<td>{{solicitud.fec_fin|date("m-d-Y") }}</td>
				<td>{{solicitud.ocupantes}}</td>
			</tr>
		</tbody>
		</table>
		<p>Comentario: {{solicitud.texto}}</p>

<form class="formulario" method="post" name="formulario" action="./backend.php?accion=aceptarSolicitud&amp;id={{id}}">
    <button type="submit" name="botones">Confirmar</button>
	<button type="button" onclick="window.location.href='./backend.php?accion=solicitudesPendientes'">Cancelar</button>
</form>
						

{% endif %}
{% endblock %}


