{% extends "layoutFront.twig.html" %}

{% block contenido %}
	<div>
	<h1>Información Legal<h1>
	<h2>Liberación y limitación de responsabilidades</h2>
<br>
	<h4>
1. La finalidad de este servicio es un alojamiento que debe facilitarse y estar disponible sin cargo alguno a los usuarios registrados y si un usuario descubre que no es el caso, por favor notifique al propietario del sitio web para que pueda acción en consecuencia con miras a la eliminación de ese alojamientos de este servicio.
	<br>
	<br>
2. En ningún caso, sin embargo, CouchInn se hará responsable de los daños directos, indirectos, incidentales, especiales, consecuenciales o ejemplares, incluyendo pero no limitado a daños por gastos, inconvenientes, pérdida de uso, datos o beneficios, fondos u otras pérdidas intangibles que surjan de o en conexión con el uso o rendimiento de este servicio, prestación o no prestación de servicios, o de la información disponible de este servicio, el acceso no autorizado a nuestra modificación de sus transmisiones de datos, declaraciones o conductas de cualquier tercero en el servicio o cualquier otro asunto relacionado con el servicio.
	<br>
	<br>
3. Usted entiende y acepta expresamente que el uso de este servicio es bajo su propio riesgo y CouchInn no ofrece ninguna garantía de que el servicio se adapte a sus necesidades o sus expectativas o que la misma será segura, sin error, oportuna o ininterrumpida, y aún más, usted entiende y acepta expresamente que la descarga de cualquier información de este servicio es bajo su propio riesgo y usted será el único responsable de cualquier daño a su sistema informático o pérdida de datos.	 </br>
	
	</h4></div>

{% endblock %}
