{% extends "layoutBackUser.twig.html" %}

{% block contenido %}

<h2>{{params.encabezado}}</h2>
<h4>{{params.descripcion}}</h4>
<img alt="" src="data:image/png;base64,{{params.foto}}" style="width: 100%;"/>
<h4>Dirección: {{params.direccion}}, {{params.nombre_ciudad}} - {{params.nombre_provincia}}</h4>
<h4>Tipo de alojamiento: {{params.nombre_tipo}}</h4>
<h4>Capacidad máxima: {{params.capacidad}}</h4>
<h4>Fecha de Publicación: {{params.fecha_publi|date("d-m-Y")}}</h4>

<div id="DIV_1">
	<form class="comentario"action="./backend.php?accion=agregarComentario" method="post" id="FORM_2">
		<div id="DIV_5">
			<i id="I_6"></i> <span id="SPAN_7">Pregunta:</span>
			<p id="P_8">
				<textarea name="pregunta" id="TEXTAREA_11" cols="110" placeholder="Escribe tu pregunta..."></textarea>
			</p>
		</div>
		<div id="DIV_12">
			<div id="DIV_13">
				<input type="hidden" value="{{params.id_publicacion}}" name="idPublicacion"/>
				<input type="submit" value="Preguntar" name="preguntar" /> No ingreses datos de contacto o uses lenguaje vulgar.
			</div>
		</div>
	</form>
</div>
<br>
<br>
<div>
	{% if comentarios | length>0 %}
				{% for comentario in comentarios %}
					<div>
						<h3>{{comentario.pregunta}}</h3><h4>{{comentario.fec_preg}}</h4>
						{%if comentario.respuesta | length>0 %}
							<h5>{{comentario.respuesta}}</h5><h6>{{comentario.fec_resp}}</h6>
						{% endif %}
					</div>
				{% endfor %}
	{% endif %}
</div>
			<div align="right">
				<h3>
{% if (source == 0) %}
						<a href='./backend.php?accion=verPublicacion&amp;id={{params.id_publicacion}}&amp;func=solicitar#abajo'>
							<span style="background: #9f9; padding:5px; border: 2px solid black;">Solicitar hospedaje</span>
						</a>
{% elseif (source == 1) %}
						<a href='./backend.php?accion=modificarPublicacion&amp;id={{params.id_publicacion}}&amp;func=modificar'>
							<span style="background: #9f9; padding:5px; border: 2px solid black;">Modificar</span>
						</a>
						<a href='./backend.php?accion=eliminarPublicacion&amp;id={{params.id_publicacion}}'>
							<span style="background: #f99; padding:5px; border: 2px solid black;">Eliminar</span>
						</a>
{% endif %}
				</h3>
			</div>

{% if (func=="solicitar")%}
<br>
<hr>
<br>

<script>
	function setMinimo(){
		var desde = document.getElementById("desde").value;
		document.getElementById("hasta").disabled = false;
		document.getElementById("hasta").min = desde;
	}

</script>
<form class="formulario" method="POST" name="formulario"
	  action="./backend.php?accion=verPublicacion&amp;id={{params.id_publicacion}}">
    <h3>Formulario para solicitad hospedaje</h3>
    <div>
        <label>Viajeros</label>
			<select id="cant" name="cant" required>
				{% for index in 1..params.capacidad %}
				<option value={{index}}>{{index}}</option>
				{% endfor %}
				</select>
	</div>
	<div>
		<label>Desde</label>
			<input id="desde" name="desde" type="date" min="{{hoy}}" onchange="setMinimo()" required/>
	</div>
	<div>
		<label>Hasta</label>
			<input id="hasta" name="hasta" type="date" min="{{hoy}}" disabled required/>
	</div>
	<div>
		<label>Mi presentación</label>
		<textarea rows="4" cols="20" id="texto" name="texto" required/></textarea>
	</div>

	<br>

    <button type="submit">Solicitar</button>
	<button type="button" onclick="window.location.href='./backend.php'">Cancelar</button>

</form>
	<br>
	<a name="abajo"></a>

{% endif %}





{% endblock %}
